<div class="profile">
  <div class="profile-form">
    profile form
    <form>
      <div class="form-control">
        <label for="first-name">First Name</label>
        <input
          type="text"
          name="f-name"
          id="first-name"
          placeholder="Your first name"
        />
      </div>
      <div class="form-control">
        <label for="last-name">Last Name</label>
        <input
          type="text"
          name="l-name"
          id="last-name"
          placeholder="Your last name"
        />
      </div>
      <div class="form-control">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="xxx@xxx.xxx" />
      </div>
      <div class="form-control">
        <label for="phone">Phone Number</label>
        <input type="tel" name="phone" id="phone" placeholder="12345678" />
      </div>
      <div class="form-control">
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" id="dob" />
      </div>
      <div class="form-control">
        <label for="comments">Date of Birth</label>
        <textarea
          name="comments"
          id="comments"
          placeholder="Please enter your comments here..."
        ></textarea>
      </div>
    </form>
    <button type="submit" class="btn btn-block">Submit</button>
  </div>
  <div class="profile-display">profile display</div>
</div>
